<% include ./partials/header.ejs %>
<div class="container">
    <div class="form-group align-items-center stripeForm">
        <h1 class="offset-3">Something Went Wrong!</h1>
        <h3 class="offset-3">Payment is not processed.</h3>
        <p class="offset-3">Check the provided details, and try to subscribe again.</p>
    </div>
</div>
<% include ./partials/footer.ejs %>