<% include ./partials/header.ejs %>
<div class="container">
    <div class="form-group align-items-center stripeForm">
        <h1 class="offset-3">You have subscribed.</h1>
        <hr>
        <h3 class="offset-3">Thanks! for the payment</h3>
        <p class="offset-3">You will get the details very soon via email.</p>
</div>
</div>
<% include ./partials/footer.ejs %>